body {
    background-color: slategray;
    text-align: center;
}

p {
    color: white;
    font: Shanti;
    font-size: 1.2em;
    margin: 20px;
}

img {
    width: 250px;
    margin : 60px 0 30px 0;
}

input {
    width: 300px;
    height: 50px;
    margin : 20px;
    border: None;
    border-radius: 10px;
    font: Shanti;
    text-align: center;
    font-size: 1.3em;
}

#greet {
    background-color: palevioletred;
    color: white;
    width: 200px;
}

#greet.hover {
    background-color: mediumvioletred;
    cursor: pointer;
}
